.DS_Store
*.glexe
*.mshark
*.testreport
*.test_output
/*.dylib
*.opt-bc
/.DS_Store
/TAGS
/assimp.dylib.dSYM
/assimp_quicklook
/bk/*
/build
/buildlog.txt
/depends.mk
/deps.dot
/deps.png
/devel/Instruments.trace
/dllzompvm.so
/examples/*.exe
/examples/*.o
/examples/*.s
/examples/.DS_Store
/examples/gmon.out
/examples/shaderfun.glexe.s
/examples/smallpt/image.png
/examples/smallpt/image.ppm
/examples/smallpt/smallpt-cpp
/extlibs
/extlibs/*.bz2
/extlibs/*.gz
/extlibs/*.zip
/extlibs/.DS_Store
/extlibs/assimp-beta1-full
/extlibs/assimp-beta1-full.zip
/extlibs/assimp-r281--sdk
/extlibs/boost_1_38_0
/flymake.log
/gmon.out
/last_build_flymake.log
/libGLEW.a
/libassimp.a
/libglfw.a
/libs/*.ll
/libs/*.o
/libs/glfw.zomp
/libs/glut.zomp
/libs/libglut.dylib
/libs/libquicktext.dylib
/libs/libutils.dylib
/libs/opengl20.zomp
/libs/opengl20print.skel
/libs/opengl20print.zomp
/libs/quicktext.zomp
/libzompvm.a
/mltest
/perf_results.png
/perf_results2.png
/perf_results_iexpr.png
/perflog.txt
/runtime.bc
/runtime.ll
/source/*.annot
/source/*.cmi
/source/*.cmo
/source/*.cmx
/source/*.o
/source/dllzompvm.so
/source/gen_c_bindings
/source/libzompvm.a
/source/machine.c
/source/machine.ml
/source/newparser.conflicts
/source/newparser.ml
/source/newparser.mli
/source/runtime.bc
/source/runtime.ll
/source/runtime.o
/source/sexprlexer.ml
/source/sexprparser.ml
/source/sexprparser.mli
/source/stdlib.bc
/source/stdlib.ll
/source/stdlib.orig.ll
/source/zompvm_impl.o
/source/zompvm_dummy.o
/tests/*.ll
/tests/.DS_Store
/tests/compileperf.zomp
/tests/compileperf_buildlog.txt
/tests/llvmtest/*.bc
/tests/llvmtest/*.ll
/tests/llvmtest/argstructs.ll
/tests/llvmtest/floats.bc
/tests/llvmtest/floats.ll
/tests/llvmtest/floats_flymake.ll
/tests/llvmtest/loopopt.ll
/tests/llvmtest/string.ll
/tests/mltests/*.cmi
/tests/mltests/*.cmo
/tests/mltests/*.cmx
/tests/mltests/*.exe
/tests/mltests/*.o
/tests/mltests/flymake.log
/tests/scratch.zomp
/tests/sharkperf.zomp
/tests/temp.zomp
/tests/temp2.zomp
/tests/timing.txt
/tests/timing_iexpr.txt
/tests/timing_sexpr.txt
/testsuite/*.exe
/testsuite/*.s
/testsuite/error_reporting/*.output
/testsuite/error_reporting/*.test2
/testsuite/error_reporting/*.tmp
/testsuite/error_reporting/*.zompc-log
/testsuite/preludevalid
/zomp_shell
/zomp_shell.native
/zompc
/zompc.native
alltests
data
tools
/has_llvm
/has_llvm_gcc
/tests/*.exe
/has_clang
/testsuite/prelude_is_valid
/bindgen/bindgen.dylib
/bindgen/bindgen.xcodeproj
/bindgen/*.o
/bindgen/test.bindings
/tests/clang_api/lookup_symbol.dylib
/bindgen/zomp_bindgen.dylib
/tests/llvmtest/*.exe
/tests/llvmtest/*.dSYM
/tests/buildlog.txt
/tests.tmp.txt
/files.tmp.txt
/testsuite/*.o
/report.html
/testsuite/error_reporting/*.exe
/testsuite/include/*.exe
/vm_client
/vm_server
/source/vmserver/Debug/
/source/vmserver/ipch/
/source/vmserver/vmserver.sdf
/source/vmserver/vmserver.opensdf
/source/vmserver/vmserver.suo
/source/vmserver/vmserver.vcxproj.user
/vm_http_server
/source/vmserver/Release
/testsuite/*_flymake.*
/testsuite/check_test.annot
/libs/stb_image.dylib
/libs/stb_image.zomp
*.result
