*.mshark
*.glexe
data
alltests
tools
/tests/temp.zomp
/tests/temp2.zomp
/llvmtest/string.ll
/*.dylib
/examples/gmon.out
/.DS_Store
/extlibs/.DS_Store
/extlibs/assimp-beta1-full
/extlibs/assimp-beta1-full.zip
/llvmtest/loopopt.ll
/tests/timing.txt
/perf_results.png
/perflog.txt
/tests/scratch.zomp
/examples/*.exe
/perf_results2.png
/perf_results_iexpr.png
/stdlib.orig.ll
/tests/compileperf.zomp
/tests/compileperf_buildlog.txt
/tests/timing_iexpr.txt
/tests/timing_sexpr.txt
/mltests/flymake.log
/mltests/*.cmi
/mltests/*.cmo
/mltests/*.cmx
/mltests/*.exe
/mltests/*.o
/llvmtest/floats.ll
/extlibs/assimp-r281--sdk
/extlibs/boost_1_38_0
/extlibs/*.bz2
/extlibs/*.gz
/extlibs/*.zip
/examples/shaderfun.glexe.s
/mltest
/depends.mk
/*.cmi
/*.cmo
/*.cmx
/*.o
/*.annot
/deps.dot
/deps.png
/dllzompvm.so
/flymake.log
/gencode
/glfw.zomp
/glut.zomp
/gmon.out
/last_build_flymake.log
/libGLEW.a
/libassimp.a
/libglfw.a
/libzompvm.a
/llvmtest/argstructs.ll
/llvmtest/floats.bc
/llvmtest/floats_flymake.ll
/llvmtest/*.bc
/llvmtest/*.ll
/machine.c
/machine.ml
/newparser.conflicts
/newparser.ml
/newparser.mli
/opengl20.zomp
/sexprlexer.ml
/sexprparser.ml
/sexprparser.mli
/sexprtoplevel
/sexprtoplevel.native
/stdlib.bc
/stdlib.ll
/tests/.DS_Store
/zompc
/zompc.native
/testsuite/preludevalid
/testsuite/preludevalid.zomp
