*.glexe
*.opt-bc
*.result
*.test_output
*.testreport
.DS_Store
/TAGS
/bindgen/*.o
/bindgen/bindgen.dylib
/bindgen/bindgen.xcodeproj
/bindgen/test.bindings
/bindgen/zomp_bindgen.dylib
/build
/examples/*.exe
/examples/*.o
/examples/*.s
/examples/gmon.out
/examples/smallpt/image.png
/examples/smallpt/image.ppm
/examples/smallpt/smallpt-cpp
/libs/*.ll
/libs/*.o
/libs/assimp.dylib
/libs/glfw.zomp
/libs/glut.zomp
/libs/libAntTweakBar.dylib
/libs/libGLEW.dylib
/libs/libassimp.a
/libs/libglfw.dylib
/libs/libglut.dylib
/libs/libquicktext.dylib
/libs/libutils.dylib
/libs/opengl20.zomp
/libs/opengl20print.skel
/libs/opengl20print.zomp
/libs/quicktext.zomp
/libs/stb_image.dylib
/libs/stb_image.zomp
/source/*.annot
/source/*.cmi
/source/*.cmo
/source/*.cmx
/source/*.o
/source/dllzompvm.so
/source/gen_c_bindings
/source/libzompvm.a
/source/machine.c
/source/machine.ml
/source/newparser.conflicts
/source/newparser.ml
/source/newparser.mli
/source/runtime.bc
/source/runtime.ll
/source/runtime.o
/source/sexprlexer.ml
/source/sexprparser.ml
/source/sexprparser.mli
/source/stdlib.bc
/source/stdlib.ll
/source/stdlib.orig.ll
/source/vmserver/Debug/
/source/vmserver/Release
/source/vmserver/ipch/
/source/vmserver/vmserver.opensdf
/source/vmserver/vmserver.sdf
/source/vmserver/vmserver.suo
/source/vmserver/vmserver.vcxproj.user
/source/zompvm_dummy.o
/source/zompvm_impl.o
/tests/*.exe
/tests/*.ll
/tests/buildlog.txt
/tests/clang_api/lookup_symbol.dylib
/tests/compileperf.zomp
/tests/compileperf_buildlog.txt
/tests/llvmtest/*.bc
/tests/llvmtest/*.dSYM
/tests/llvmtest/*.exe
/tests/llvmtest/*.ll
/tests/llvmtest/argstructs.ll
/tests/llvmtest/floats.bc
/tests/llvmtest/floats.ll
/tests/llvmtest/floats_flymake.ll
/tests/llvmtest/loopopt.ll
/tests/llvmtest/string.ll
/tests/mltests/*.cmi
/tests/mltests/*.cmo
/tests/mltests/*.cmx
/tests/mltests/*.exe
/tests/mltests/*.o
/tests/mltests/flymake.log
/tests/scratch.zomp
/tests/sharkperf.zomp
/tests/temp.zomp
/tests/temp2.zomp
/tests/timing.txt
/tests/timing_iexpr.txt
/tests/timing_sexpr.txt
/testsuite/*/*.exe
/testsuite/*/*.o
/testsuite/*/*.s
/testsuite/*_flymake.*
/testsuite/check_test.annot
/testsuite/check_test_verify/test_check_test_error_report.testreport.tmp
/testsuite/prelude_is_valid
/testsuite/preludevalid
/vm_client
/vm_server
data
tools
